:ruby
  entry = Entry.find(1)
  comments = Comment.all

.page-item-list.page-f1
  .page-comment-list
    .header
      %h1= "评论: #{entry.title}"
    .content
      .comments
        - comments.each do |comment|
          .list-item.comment
            .title=link_to comment.user.name, 'javascript:;'
            .content= comment.content


    .comment
      = form_tag(:url => {:action => ''})  do
        .field
          %label 用户评论
          .comm
            = text_area_tag :title

        .field.submit
          = button_to "评论", "javascript:;"