:ruby
  section = Section.find(params[:id] || 1)
  entries = section.entries

= page_top_bar section.title, '/b1'
= render '/b3/parts/toast'
= render '/b3/parts/dialog'

.page-b2
  .desc= section.desc
  .entries
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/b3?id=#{entry.id}"
        %a.add-note{:href=>'javascript:;'} 添加笔记
