:ruby
  entries = Entry.all

.page-b2

  .search
    = button_to "搜索", "/c51", :method => 'get'

  .top
    = render "/a1/parts/nav"


  .bookmark
    = link_to "添加书签", "/d1"


  .page-entry-list
    - entries.each do |entry|
      .item
        .title= link_to entry.title, "/b3?id=#{entry.id}"
