= page_top_bar '我的课程表', '/a3'

- weekdays = ['','一','二','三','四','五','六','日']     

.page-g1
  .orders.list
    - 1.upto(12) do |order|
      .order.item= order
  .weekdays
    - 1.upto(7) do |weekday|
      .weekday.list
        .title.item= weekdays[weekday]
        - 1.upto(12) do |order|
          - cte = CourseTimeExpression.find_by_sn_id("#{weekday}-#{order}")
          - if cte.blank?
            .course.item.blank
          - else
            .course.item= link_to cte.course.title,"/g2"


