.page-a3

  .top
    = render "/a1/parts/nav"

  .downloading-list
    .item
      .img
        = image_tag("")
      .title
        = "第一章"
      .progress
        = image_tag("")

    .item
      .img
        = image_tag("")
      .title
        = "第二章"
      .progress
        = image_tag("")


  .downloaded-list
    .item
      .img
        = image_tag("")
      .title
        = "第三章"

    .item
      .img
        = image_tag("")
      .title
        = "第四章"