.page-a3

  .top
    = render "/a1/parts/nav"

  .downloading-list
    .item
      .img
        = image_tag("")
      .title
        = "Ruby 重构"
      .progress
        = image_tag("")

    .item
      .img
        = image_tag("")
      .title
        = "Jquery 在线 API"
      .progress
        = image_tag("")


  .downloaded-list
    .item
      .img
        = image_tag("")
      .title
        = "Java 重构"