:ruby
  books = Book.my

= page_top_nav(0, :has_search=>true)
= page_bottom_nav

.page-a3
  .books-list
    - books.each do |book|
      - klass = book.downloaded ? '' : 'downloading'
      .item{:class=>klass}
        .img
          = link_to image_tag(book.cover_img), "/b1"
        .title
          = link_to book.title, "/b1"
        .author
          作者：#{book.creator.name}

        .progress
          .p{:style=>"width:#{book.progress}%;"}
        .download-status
          .t 正在下载…
          .per #{book.progress}%