.page-a3

  :ruby
    books = Book.all
    downloading_books = books[4..5]
    downloaded_books = books[0..1]

  .top
    = render "/a1/parts/nav"

  .downloading-list
    - downloading_books.each do |book|
      .item
        .img
          = image_tag(book.cover_img)
        .title
          = book.title
        .progress
          = image_tag("/assets/progress.jpg")



  .downloaded-list
    - downloaded_books.each do |book|
      .item
        .img
          = link_to image_tag(book.cover_img), "/b1"
        .title
          = link_to book.title, "/b1"