.page-index
  .title
    这里是 index 页面，下面是所有演示页的链接：

  .links
    .item= link_to "A1", "/a1"
    .item= link_to "A2", "/a2"
    .item= link_to "A3", "/a3"

    .item= link_to "B1", "/b1"
    .item= link_to "B2", "/b2"
    .item= link_to "B3", "/b3"


    .item= link_to "C1", "/c1"
    .item= link_to "C2", "/c2"
    .item= link_to "C3", "/c3"


    .item= link_to "C41", "/c41"
    .item= link_to "C42", "/c42"
    .item= link_to "C43", "/c43"


    .item= link_to "C51", "/c51"
    .item= link_to "C52", "/c52"
    .item= link_to "C53", "/c53"




    .item= link_to "D1", "/d1"

    .item= link_to 'E1', '/e1'
    .item= link_to 'E2', '/e2'
    .item= link_to 'E3', '/e3'
    .item= link_to 'F1', '/f1'
    .item= link_to 'G1', '/g1'
    .item= link_to 'G2', '/g2'
    .item= link_to "H1", "/h1"
    .item= link_to "H2", "/h2"

    .item= link_to "I1", "/i1"
    .item= link_to "I2", "/i2"
    .item= link_to "I3", "/i3"

    .item= link_to "M1", "/m1"
