.page-index
  .title
    这里是 index 页面，下面是所有演示页的链接：

  .links
    .item= link_to 'E1', '/e1'
    .item= link_to 'E2', '/e2'
    .item= link_to 'E3', '/e3'
    .item= link_to "A1", "/a1"
    .item= link_to "A2", "/a2"
    .item= link_to "A3", "/a3"
    .item= link_to "B1", "/b1"
    .item= link_to "B2", "/b2"
    .item= link_to "B3", "/b3"
