:ruby
  css = @current_text_cell.format.css


- if css == 'index'
  .page-text-cell.index
    .page-block
      .text-cell-desc= @current_text_cell.desc
      .text-cell-cover
        %img{:src=>@current_text_cell.cover}

      .index-attrs
        - attrs = @current_text_cell.attrs
        .point
          .t= attrs[:t1]
          .p= attrs[:s11]
          .p= attrs[:s12]
          .p= attrs[:s13]
        .point
          .t= attrs[:t2]
          .p= attrs[:s21]
          .p= attrs[:s22]
          .p= attrs[:s23]
        .point
          .t= attrs[:t3]
          .p= attrs[:s31]
          .p= attrs[:s32]
          .p= attrs[:s33]

- if css == 'intro'
  .page-text-cell.intro
    .page-block
      .text-cell-list
        - @current_text_cell.children.each do |tc|
          .item
            .title= tc.title
            .desc= simple_format tc.desc
            .img
              %img{:src=>tc.cover}
          

- if css == 'fx'
  .text-cell-imgs
    - @current_text_cell.images.each do |img|
      .img
        %img{:src=>img.url, :alt=>img.alt}

      .text-cell-list
        - @current_text_cell.children.each do |tc|
          .text-cell
            :ruby
              cover = tc.images.first

            - if !cover.blank?
              .cover{:style=>"width:200px;height:200px;;overflow:hidden;"}
                %img{:src=>cover.url, :alt=>cover.alt}

            .meta
              .title
                %a{:href=>"/texts/#{tc.url}"}= tc.title
              .desc= tc.desc
              .children
                - tc.children.each do |ctc|
                  .ctitle
                    %a{:href=>"/texts/#{ctc.url}"}= ctc.title