
.page-index
  .title
    = link_to '添加一条', new_admin_p_text_cell_path
  .content
    .title
      .title= "主题"
      .desc= "描述"
    .text-cell
      - @p_text_cells.each do |p_text_cell|
        .title= p_text_cell.title
        .desc= p_text_cell.desc

        .show= link_to '显示', admin_p_text_cell_path(p_text_cell)
        .edit= link_to '编辑', edit_admin_p_text_cell_path(p_text_cell)
        .destroy= link_to '删除', admin_p_text_cell_path(p_text_cell), :method => :delete, :data => { :confirm => '确定要删除？' }
