:ruby
  entry = Entry.find(1)
  coursewares = Courseware.all

.page-b3
  .top
    = render "/a1/parts/nav"
    .comments-link=link_to '评论', '/f1'
  .page-show
    .title= entry.title

    .content= entry.content
    .related
      .homeworks

      .coursewares
        .desc 相关课件
        - coursewares.each_with_index do |courseware, index|
          - id = index + 1
          .courseware
            .link= link_to courseware.title, "/l2?id=#{id}"

