:ruby
  entry = Entry.find(1)
  coursewares = Courseware.all

.page-b3
  .top
    = render "/a1/parts/nav"
    .comments-link=link_to '评论', '/f1'

  .bookmark
    = link_to "添加书签", "/d1"

    
  .page-show
    .title= entry.title

    .content= entry.content
    .related
      .homeworks
        = link_to "相关作业", "/k3"

      .coursewares
        = link_to '相关课件', '/l3'
