:ruby
  prev_cell = p_text_cell.prev_sibling
  next_cell = p_text_cell.next_sibling
  

%span.show= link_to '显示', admin_p_text_cell_path(p_text_cell)
%span.edit= link_to '编辑', edit_admin_p_text_cell_path(p_text_cell)
%span.destroy= link_to '删除', admin_p_text_cell_path(p_text_cell), :method => :delete, :data => { :confirm => '确定要删除？' } 
%span.copy= link_to '复制', 'javascript:;'
- if !prev_cell.nil?
  %span.up= link_to '向上移动', "/admin/p_text_cells/#{p_text_cell.id}/move_up", :method => :put
- if !next_cell.nil?
  %span.down= link_to '向下移动', "/admin/p_text_cells/#{p_text_cell.id}/move_down", :method => :put