.page-a1

  .top
    = render "/a1/parts/nav"


  .page-package-list
    .item
      .img
        = link_to image_tag(""), "/a2"
      .title
        = link_to "Ruby 重构", "/a2"

    .item
      .img
        = link_to image_tag(""), "/a2"
      .title
        = link_to "Jquery 在线 API", "/a2"
  