:ruby
  book = Book.find(1)

.page-a2

  .search
    = button_to "搜索", "/c41", :method => 'get'

  .top
    = render "/a1/parts/nav"

  .page-book
    .img
      = image_tag(book.cover_img)
    .title
      = book.title

    .download
      = link_to "下载", "/a3"

    .online-read
      = link_to "在线查看", "/b1"

