!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title TextCell Management
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body
    = yield
    = yield :javascript
