!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title EduShare 产品介绍
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body.html-demo
    :ruby
      current_navitem = NavItem.by_url(request.path)

    .page-title
      .t= current_navitem.title

    .page-body
      .page-html-nav
        - NavItem.items.each do |ni|
          .item
            %a.link{:href=>ni.url}= ni.title
            - children = ni.children
            - if !children.blank?
              .children
                - ni.children.each do |sni|
                  .item
                    %a.link{:href=>sni.url}= sni.title

      .page-content
        = yield

    .page-footer
      .f
        © 2013 MINDPIN

    = yield :javascript