!!! 5
%html{:lang=>'zh'}
  %head
    %meta{:charset=>'utf-8'}
    %title EduShare 产品介绍
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'

  %body.html-demo
    :ruby
      current_navitem = NavItem.by_url(request.path)

      prev_navitem = current_navitem.prev
      next_navitem = current_navitem.next
      parent_navitem = current_navitem.parent
      title = current_navitem.title

    .page-title
      .tt
        %a.logo{:href=>'/html_demo/index.html'} 返回首页

        .idx
          %a{:href=>'/html_demo/index.html'} 首页
        .prv
          - if !prev_navitem.blank?
            %a{:href=>prev_navitem.url} 上一页
          - else
            .quiet 上一页
        .nxt
          - if !next_navitem.blank?
            %a{:href=>next_navitem.url} 下一页
          - else
            .quiet 下一页

    .page-body
      .page-html-nav
        :ruby
          if !current_navitem.scene.blank?
            h_nav = parent_navitem
          else
            h_nav = current_navitem
          end

        - NavItem.items.each do |ni|
          - is_current = ni == h_nav
          - is_open = ni == h_nav.parent
          - klass = is_current ? 'current' : is_open ? 'open' : ''

          .item{:class=>klass}
            %a.link{:href=>ni.url}= ni.title
            .children
              - ni.children.each do |sni|
                .item{:class=>sni == h_nav ? 'current' : ''}
                  %a.sublink{:href=>sni.url}= sni.title

      .page-bread
        - if !current_navitem.scene.blank?
          .home
            %a{:href=>'/html_demo/index.html'} HOME
          .nav
            %a{:href=>parent_navitem.parent.url}= parent_navitem.parent.title
          .nav
            %a{:href=>parent_navitem.url}= parent_navitem.title
          .nav
            %a{:href=>current_navitem.url}= current_navitem.title

        - elsif parent_navitem.blank?
          .home
            %a{:href=>'/html_demo/index.html'} HOME
          .nav
            %a{:href=>current_navitem.url}= current_navitem.title
        - else
          .home
            %a{:href=>'/html_demo/index.html'} HOME
          .nav
            %a{:href=>parent_navitem.url}= parent_navitem.title
          .nav
            %a{:href=>current_navitem.url}= current_navitem.title

      - if !current_navitem.scene.blank?
        .page-content-nav
          - parent_navitem.children.each do |cni|
            %a.item{:href=>cni.url}= cni.title

      - elsif !parent_navitem.blank? && !current_navitem.children.blank?
        .page-content-nav
          - current_navitem.children.each do |cni|
            %a.item{:href=>cni.url}= cni.title

      .page-content
        = yield

    .page-footer
      .f
        © 2013 MINDPIN

    = yield :javascript